body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.authForm {
    border-radius: 2px;
    padding: 5px;
    min-height: 300px;
}

.toggleBtn {
    display: inline;
}
.board-item{
    padding: 5px;
}
.board-item .board-item-title {
    margin: 10px;
}

/*.board-item:hover {*/
/*    background: #eeeeee !important;*/
/*}*/

.board-item:hover .board-item-btn {
    visibility: visible;
}

.alert-modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1;
}

.board{
    margin: 5px auto;
    width: max-content;
    text-align: center;
}
.board-chat{
}
.board-chat-lines{
    max-height: 50vh;
    overflow-y: scroll;
}
.board-col {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

.board-cell {
    margin:0px;
    height: 2vw;
    width: 2vw;
    display: inline-block;
    padding: 0px;
    border: 1px solid #838383;
}
.board-first {
    background: #f10202;
}
.board-player{
    font-size: 0.9em;
}
.board-player-first{
    color: #f10202;
}
.board-second {
    background: #1202f1;
}
.board-player-second{
    color:#1202f1;
}

.board-empty{
    background: #a0a0a0;
}
@media (hover: hover) {
    .board-empty-first:hover {
        background: #f10202;
        cursor: pointer;
    }

    .board-empty-second:hover {
        background: #1202f1;
        cursor: pointer;
    }
}
.model-title{
    color: cornflowerblue;
    font-size:1.5em;
}
.board-status{
    font-weight: bold;
    font-size: 1.2em;
    color: cornflowerblue;
}